a:hover{text-decoration:none;}
a:focus{text-decoration:none;}
header.transparent.smaller.clone, header.transparent.header-mobile.clone{box-shadow:0px 0px 3px 3px rgba(0, 0, 0, 0.35);}
img.nav-logo{opacity:0;width:16%;margin-top:12px;-webkit-transition:all 0.2s ease-out;-moz-transition:all 0.2s ease-out;-ms-transition:all 0.2s ease-out;-o-transition:all 0.2s ease-out;transition:all 0.2s ease-out;}
.smaller .container .row .col-md-12 img.nav-logo{opacity:1;}
.info{top:15vh;position:absolute;z-index:100;left:0;right:0;margin-left:auto;margin-right:auto;text-align:center;font-family:'Oswald';font-weight:200;}
img.logo{width:35%;}
.number-wrapper{margin-top:1em;}
.number-wrapper a, .address-wrapper a{font-size:2.5em;letter-spacing:3px;color:#b31212;}
.address-wrapper{margin-top:.5em;}
.address-wrapper a{color:#fcfcfc;}
.address-wrapper a:hover{color:#b31212;text-decoration:none;}
.number-wrapper a:hover{text-decoration:none;}
.hours-box, .footer-info-box{position:relative;width:15vw;margin-left:auto;margin-right:auto;font-size:1.8em;letter-spacing:1px;margin-top:1em;}
div.left{display:inline;text-align:left;left:0;position:absolute;color:#b31212;}
div.right{color:#fcfcfc;text-align:right;}
.tp-caption{top:10vh;}
span.teaser.center{font-family:'Open Sans', Arial;letter-spacing:4px;font-size:.7em;}
.subheader-line span{margin:0;display:inline-block;}
h2 .small-border{margin-bottom:5px !important;}
h2.center{text-align:center;}
section.about-section{padding:0;}
.about-column{padding:7em 4em;background-color:#000;}
.about-column p.center{text-align:center;font-size:1.3em;font-family:'Arial';}
.about-column, .about-left, .about-right{height:775px;}
.about-left, .about-right{width:25%;}
.about-column{width:50%;}
section#section-services-tab{background-color:#141414;}
.menu-subheader span.small-border{width:10px;}
.menu-subheader{text-align:center;}
.menu-subheader span.teaser.center{color:#b21212;font-size:1.8em;letter-spacing:3px;font-family:"Oswald", Arial, Helvetica, sans-serif !important;text-transform:uppercase;}
.post-menu .meta, .post-menu .meta-content{padding-left:40px;padding-right:40px;}
.service-text.meta-content{text-align:center;}
.menu-subheader span.small-border{width:10px;height:2px;margin-bottom:8px;margin-right:4px;}
section#section-gallery{padding:8em 0 10em;}
.gallery-wrapper{display:inline-flex;width:100%;background-color:#0f0c0d;padding:3em 0;position:relative;}
.gallery-wrapper .container{z-index:100;}
.arrow-wrapper.right-arrow{z-index:0;}
.arrow-wrapper{position:absolute;top:40%;font-size:5em;color:#fcfcfc;-webkit-transition:all 0.2s;-moz-transition:all 0.2s;-ms-transition:all 0.2s;-o-transition:all 0.2s;transition:all 0.2s;}
.arrow-wrapper.left-arrow{left:3%;}
.arrow-wrapper.right-arrow{right:3%;}
.arrow-wrapper:hover, .arrow-wrapper:active{color:#b21212;cursor:pointer;}
img.footer-logo{width:100%;height:auto;}
.legal{text-align:center;font-family:'Oswald';font-weight:100;letter-spacing:1px;}
.social a{margin:10px;}
.social{font-size:2em;margin:1em;text-align:center;}
.footer-info-box{margin:0;width:85%;font-size:1.5em;font-family:'Oswald';font-weight:100;}
.footer-info-box .row{margin:9px 0;}
.footer-info-box .row .right, .footer-info-box .row .right a{color:#adadad;}
.img-btn-wrapper{text-align:center;}
a.btn-slider.img-btn{font-size:1.2em;}
.preloader1.yelp-loader{display:none;position:absolute;text-align:center;margin-left:auto;margin-right:auto;left:0;right:0;top:35px;}
.de_tab.tab_style_1 .de_nav li:hover,
.de_tab.tab_style_1 .de_nav li:hover span{border-color:#b31212;color:#b31212;}
@charset "utf-8";html{background:#000000 !important;}
body{font-family:"Open Sans", Arial, Helvetica, sans-serif;font-size:13px;font-weight:500;color:#999;line-height:1.9em;padding:0;background:#606060;display:none;}
#wrapper{overflow:hidden;}
header{width:100%;height:80px;position:fixed;top:0;left:0;z-index:1020;-webkit-transition:height 0.3s;-moz-transition:height 0.3s;-ms-transition:height 0.3s;-o-transition:height 0.3s;transition:height 0.3s;background:#18181d;border-bottom:solid 1px rgba(0, 0, 0, 0.0);}
header.transparent{background:rgba(0, 0, 0, 0.0);}
header nav{float:right;}
header nav a{-webkit-transition:all 0.3s;-moz-transition:all 0.3s;-ms-transition:all 0.3s;-o-transition:all 0.3s;transition:all 0.3s;}
header nav a:hover{color:#555;}
header.smaller #mainmenu a{padding-top:25px;}
header.smaller{height:70px;background:#18181d;}
#mainmenu{font-family:"Oswald", Arial, Helvetica, sans-serif;float:right;font-size:14px;}
#mainmenu li{margin:0px 0px;padding:0px 0px;float:left;display:inline;list-style:none;position:relative;}
#mainmenu > li > a{text-transform:uppercase;letter-spacing:2px;font-size:11px;font-weight:600;}
#mainmenu a{display:inline-block;padding:30px 0px 15px 20px;text-decoration:none;color:#fff;text-align:center;outline:none;}
#mainmenu li a:after{float:right;position:relative;font-family:"FontAwesome";content:"\f111";font-size:6px;margin-left:20px;margin-top:0px;color:#f7c51e;font-weight:normal;}
#mainmenu li:last-child a:after{display:none;}
#mainmenu.line-separator li a:after{content:"/";font-size:14px;}
#menu-btn{display:none;float:right;margin-top:5px;width:36px;height:36px;background:#333;padding:6px;text-align:center;cursor:pointer;}
#menu-btn:before{font-size:24px;color:#eceff3;}
#menu-btn:hover{background:#fff;}
#menu-btn:hover:before{color:#222;}
#content{width:100%;background:#fff;padding:90px 0 90px 0;z-index:100;}
#content{background:#18191b;}
section{padding:80px 0 80px 0;}
section{background:#191919;}
footer{background:#111111;color:#ccc;padding:80px 0 80px 0;}
footer a{color:#ccc;}
footer a:visited{color:#ccc;}
footer a:hover{color:#eceff3;}
header.header-mobile{height:100%;background:#111;}
.small-border{height:1px;width:120px;background:#ccc;display:block;margin:0 auto;margin-top:20px;margin-bottom:30px;}
a{color:#fff;text-decoration:none;outline:0 !important;}
a:hover{color:#fff;}
a.btn-slider,
a.btn-solid,
.btn-solid{font-family:"Oswald";letter-spacing:0;text-decoration:none;letter-spacing:1px;}
a.btn-slider{font-size:13px;font-weight:500;color:#fff;line-height:normal;text-decoration:none;text-transform:uppercase;border:solid 2px #fff;padding:10px 30px 10px 30px;}
a.btn-slider:hover{color:#222;background:#fff;border-color:#000;border:solid 2px #fff;}
a.btn-slider:hover:after{color:#222;}
a.rounded,
.rounded{border-radius:60px;}
a.btn-solid,
.btn-solid{font-size:13px;font-weight:bold;color:#fff;line-height:normal;text-decoration:none;text-transform:uppercase;border:none;padding:11px 31px 11px 31px;}
a.btn-solid:hover,
.btn-solid:hover{background:#fff;color:#222;}
h2{color:#222;font-family:'Oswald', Arial, Helvetica, sans-serif;font-weight:normal;}
h2{font-size:24px;display:block;margin-top:0;margin-bottom:30px;line-height:2em;text-transform:uppercase;letter-spacing:10px;}
h2 .small-border{margin-bottom:15px;width:60px;height:2px;}
h2{color:#eceff3;}
.text-light h2{color:#fff !important;}
..feature-box-small-icon{margin-bottom:30px;}
.sub-item-service{display:table;font-size:14px;width:100%;margin-bottom:5px;}
.sub-item-service .c1,
.c2,
.c3{display:table-cell;width:auto;}
.sub-item-service .c1{color:#fff;font-family:"Oswald";font-size:16px;}
.sub-item-service .c3{font-weight:bold;text-align:right;color:#333;font-family:"Oswald";font-size:16px;}
.sub-item-service .c1,
.c3{white-space:nowrap;width:5%;}
.sub-item-service .c2{border-bottom:dashed 1px rgba(255, 255, 255, .1);}
.service-text{font-family:"Lora";font-style:italic;}
#preloader{position:fixed;z-index:100001;top:0;width:100%;height:100%;background:#222;text-align:center;}
.preloader1{width:40px;height:40px;display:inline-block;padding:0px;border-radius:100%;border:2px solid;border-top-color:rgba(255, 255, 255, 0.65);border-bottom-color:rgba(255, 255, 255, 0.15);border-left-color:rgba(255, 255, 255, 0.15);border-right-color:rgba(255, 255, 255, 0.15);-webkit-animation:preloader1 0.8s ease-in infinite;animation:preloader1 0.8s ease-in infinite;position:absolute;top:45%;margin-left:-10px;}
@keyframes preloader1{from{transform:rotate(0deg);}
to{transform:rotate(360deg);}
}
@-webkit-keyframes preloader1{from{-webkit-transform:rotate(0deg);}
to{-webkit-transform:rotate(360deg);}
}
.de_tab .de_nav{overflow:hidden;padding-left:0;margin:0;padding:0;font-weight:bold;}
.de_tab .de_nav li{float:left;list-style:none;background:#EEE;margin-right:5px;}
.de_tab .de_nav li span{padding:8px 16px 8px 16px;border-top:1px solid #ddd;border-bottom:1px solid #ddd;border-left:1px solid #ddd;border-right:1px solid #ddd;display:block;background:#f5f5f5;text-decoration:none;color:#646464;font-size:13px;cursor:pointer;}
.de_tab .de_nav li span{border:none;background:#222;}
.de_tab .de_nav li:first-child span{border-left:1px solid #ddd;}
.de_tab .de_nav li:first-child span{border-left:1px solid #404040;}
.de_tab .de_tab_content{border:1px solid #ddd;padding:15px 20px 20px 20px;margin-top:-1px;background:#fff;}
.de_tab .de_tab_content{border:1px solid #404040;background:#27282b;}
.de_tab .de_nav li.active span{background:#FFF;border-bottom:1px solid #fff;color:#222;margin-bottom:-3px;}
.de_tab .de_nav li.active span{background:#27282b;border-bottom:1px solid #27282b;color:#ccc;}
.de_tab.tab_style_1 .de_nav{text-align:center;}
.de_tab.tab_style_1 .de_nav li{margin:5px;border:solid 2px rgb(179, 18, 18);background:none;display:inline-block;float:none;}
.de_tab.tab_style_1 .de_nav li,
.de_tab.tab_style_1 .de_nav li span{-webkit-transition:all 0.2s ease-out;-moz-transition:all 0.2s ease-out;-ms-transition:all 0.2s ease-out;-o-transition:all 0.2s ease-out;transition:all 0.2s ease-out;}
.de_tab.tab_style_1 .de_nav li span{font-family:"Oswald";padding:5px 30px 5px 30px;background:none;color:#fff;border:none;letter-spacing:2px;text-transform:uppercase;font-size:13px !important;}
.de_tab.tab_style_1 .de_nav li.active span{color:#333;padding-bottom:8px;}
.de_tab.tab_style_1 .de_tab_content{background:none;border:none;padding:60px 60px 0 60px;}
.mb10{margin-bottom:10px;}
.mb30{margin-bottom:30px;}
.mb60{margin-bottom:60px;}
.mb10{margin-bottom:10px;}
.mb30{margin-bottom:30px;}
.mb60{margin-bottom:60px;}
.padding60{padding:60px;}
.mt-50{margin-top:-50px;}
.mb-50{margin-bottom:-50px;}
header.smaller,
.pic-hover .bg-overlay,
.pic-hover:hover > .bg-overlay,
i.btn-action-hide,
.pic-hover.hover-scale img,
.border-overlay{-o-transition:.5s;-ms-transition:.5s;-moz-transition:.5s;-webkit-transition:.5s;transition:.5s;outline:none;}
.container-fluid{padding:0px;margin:0px;}
.img-responsive{display:inline-block;}
.col-md-3{margin-right:-1px;}
i{display:inline-block !important;}
a,
a:hover{-o-transition:.3s;-ms-transition:.3s;-moz-transition:.3s;-webkit-transition:.3s;transition:.3s;}
.no-bottom{margin-bottom:0;padding-bottom:0;}
p{margin-bottom:20px;}
.no-bottom .col-md-12{}
.no-bottom{padding-bottom:0 !important;}
.no-top{padding-top:0 !important;}
.bg-overlay{position:absolute;width:100%;height:100%;z-index:1;}
.border-overlay{border:solid 1px rgba(255, 255, 255, .5);position:absolute;width:95%;height:95%;margin:2.5% 0 0 2.5%;z-index:1;}
.pic-hover:hover .border-overlay{border-color:rgba(255, 255, 255, 0);}
.pic-hover{width:100%;position:relative;overflow:hidden;}
i.btn-action-hide{opacity:0;}
.pic-hover:hover .bg-overlay{background:rgba(0, 0, 0, .5);}
.pic-hover:hover i.btn-action-hide{opacity:1;}
.pic-hover.hover-scale:hover img{-moz-transform:scale(1.1);-webkit-transform:scale(1.1);transform:scale(1.1);}
.center-xy{position:absolute;z-index:5;}
.center-xy i.btn-action{font-size:24px;border:solid 2px rgba(255, 255, 255, .3);padding:16px;width:60px;height:60px;border-radius:60px;text-align:center;color:#fff;}
.center-xy i.btn-action:hover{border-color:rgba(255, 255, 255, 0);background:rgba(255, 255, 255, .3);}
.wow{visibility:hidden;}
.shadow-soft{-webkit-box-shadow:3px 3px 20px 0px rgba(0, 0, 0, 0.3);-moz-box-shadow:3px 3px 20px 0px rgba(0, 0, 0, 0.3);box-shadow:3px 3px 20px 0px rgba(0, 0, 0, 0.3);}
@media(min-width:980px) and (max-width:1199px){header #mainmenu a{padding-left:5px;padding-right:5px;}
#mainmenu li a:after{margin-left:15px;}
section#section-slider, .tp-fullwidth-forcer{height:65vh !important;}
.hours-box{width:22vw;}
.col-xs-12.col-md-4.col-sm-6.mobile-no-padding{float:right;}
.yelp-wrapper{width:103%;}
.about-left, .about-right{width:20%;}
.about-column{width:60%;}
.about-column, .about-left, .about-right{height:825px;}
.social{margin:1em 0em}
.right-arrow{right:0% !important;}
.left-arrow{left:0% !important;}
}
@media only screen and (max-width:992px){.about-column{padding:6em 2em;width:60%;}
.about-column, .about-left, .about-right{height:890px;}
.about-left, .about-right{width:20%;}
#menu-btn{display:block;position:relative;float:right;}
header{display:none;}
header{display:block;position:inherit;margin:0;padding:0;margin-top:0;height:auto;background:#000000;padding:15px 0 15px 0;}
nav{width:100%;}
#mainmenu{display:none;float:none;z-index:200;width:100%;margin:0;padding:0;}
#mainmenu a{text-align:left;padding-left:0;padding-top:10px !important;padding-bottom:10px !important;}
#mainmenu a:hover{background:#111 !important;}
#mainmenu a:hover{background:#111 !important;}
#mainmenu li{border-bottom:solid 1px #333;margin:0;width:100%;display:block;}
#mainmenu li a:after{display:none;}
#mainmenu li:last-child{margin-bottom:30px;}
#mainmenu li a{color:#eceff3;}
header.header-mobile #mainmenu{display:none;float:none;z-index:200;width:100%;margin:0;padding:0;}
header.header-mobile #mainmenu a{text-align:left;padding-top:10px !important;padding-bottom:10px !important;}
header.header-mobile #mainmenu a:hover{background:none !important;}
header.header-mobile #mainmenu li{border-bottom:solid 1px #333;margin:0;width:100%;display:block;}
header.header-mobile #mainmenu li a:after{display:none;}
header.header-mobile #mainmenu li:last-child{margin-bottom:30px;}
header.header-mobile #mainmenu li a{color:#eceff3;}
.container .col-md-3{margin-bottom:30px;}
.container .col-md-4{margin-bottom:30px;}
.container .col-md-6{margin-bottom:30px;}
.container .col-md-12{margin-bottom:30px;}
.hours-box{width:30vw;}
.tp-caption{top:15em;}
section#section-slider, .tp-fullwidth-forcer{height:85vh !important;}
.gallery-wrapper .container .col-sm-6{padding-right:30px;padding-left:30px;}
.footer-logo-wrapper{text-align:center;}
.social{font-size:1.5em;margin: 1em 0;}
.arrow-wrapper{z-index:1000000 !important;}
.footer-info-box{width:100%;}
}
@media (min-width:768px) and (max-width:780px){.tp-caption{top:20em;}
section#section-slider, .tp-fullwidth-forcer{height:70vh !important;}
header.transparent.header-mobile{padding-bottom:0;padding-top:10px;}
header.transparent.header-mobile .container .row .col-md-12{padding-bottom:0;padding-top:10px;}
header.transparent.header-mobile{position:fixed;height:75px;background-color:transparent;-webkit-transition:all 0.2s ease-out;-moz-transition:all 0.2s ease-out;-ms-transition:all 0.2s ease-out;-o-transition:all 0.2s ease-out;transition:all 0.2s ease-out;}
header.transparent.header-mobile.clone{background-color:#111;}
.right-arrow{right:0% !important;}
.left-arrow{left:0% !important;}
}
@media only screen and (max-width:767px){.about-column, .about-left, .about-right{height:1025px;border-bottom:2px solid #b31212;}
.legal.hidden-md.hidden-lg{margin-top:4em;}
.mobile-no-padding{padding:0 !important;}
h2 .small-border.small-mobile{width:30px;}
.subheader-line.menu-subheader{margin:2em 0;}
.de_tab_content, .de_tab .de_tab_content, .sub-item-service.meta, .col-md-6.mb30{padding:0 !important;}
.de_nav li{margin:5px 0 !important;}
.about-column{width:auto;padding:6em 2em;background-color:#000;}
.hours-box{width:60%;}
img.logo{width:80%;}
.number-wrapper a, .address-wrapper a{font-size:2em;}
.container{padding-left:30px;padding-right:30px;}
.de_tab .de_nav li{display:block;width:100%;}
.footer-info-box{width:100%}
}
@media only screen and (min-width:480px) and (max-width:767px){.container{padding-left:30px;padding-right:30px;}
.yelp-wrapper{width:100%;}
.yelp-info-wrapper{width:63%;position:absolute;left:120px;margin-top:8px;}
}
@media only screen and (max-width:480px){.yelp-wrapper{width:103%;}
.yelp-info-wrapper{width:63%;position:absolute;left:120px;margin-top:8px;}
section#section-gallery{padding:8em 0 0em;}
}
@media only screen and (max-width:375px){.padding60.text-center.text-light.mt-50.mb-50.shadow-soft.wow.fadeInUp.book-section.animated{padding:38px !important;}
}
@media only screen and (max-width:320px){.about-column{height:1185px;}
.footer-info-box{font-size:1.3em;}
.social{font-size:1.4em;}
.yelp-wrapper{width:114%;}
.padding60.text-center.text-light.mt-50.mb-50.shadow-soft.wow.fadeInUp.book-section.animated{padding:10px !important;}
}
@media only screen and (max-width:768px){header.transparent.header-mobile{position:fixed;height:75px;background-color:transparent;-webkit-transition:all 0.2s ease-out;-moz-transition:all 0.2s ease-out;-ms-transition:all 0.2s ease-out;-o-transition:all 0.2s ease-out;transition:all 0.2s ease-out;}
header.transparent.header-mobile.clone{background-color:#111;}
}
section{-webkit-background-size:100% !important;-moz-background-size:100% !important;-o-background-size:100% !important;background-size:100% !important;}
#section-book-form{background:url(../images/book_image.jpg) top fixed;}
@media only screen and (min-device-width:768) and (max-device-width:1024) and (orientation:portrait){section{-webkit-background-size:auto 100% !important;-moz-background-size:auto 100% !important;-o-background-size:auto 100% !important;background-size:auto 100% !important;background-attachment:scroll !important;}
}
@media only screen and (max-width:480px){section{-webkit-background-size:auto 100% !important;-moz-background-size:auto 100% !important;-o-background-size:auto 100% !important;background-size:auto 100% !important;background-attachment:scroll !important;}
}
.yelp-wrapper.loading{text-align:center;}
.yelp-wrapper.loading .preloader1{display:block;}
.yelp-wrapper.loading .yelp-img-wrapper,
.yelp-wrapper.loading .yelp-info-wrapper{display:none;}
.yelp-wrapper{width:90%;height:110px;background-color:#fcfcfc;border-radius:3px;border:1px solid gray;margin-left:auto;margin-right:auto;}
.yelp-img-wrapper{width:38%;position:absolute;}
.yelp-info-wrapper{width:52%;position:absolute;left:150px;margin-top:8px;}
.yelp-info-wrapper p{margin-bottom:0px;}
.yelp-img-wrapper img{width:85px;margin:12px;}
.yelp-title{color:#C41200;font-size:1.3em;font-weight:700;}
.yelp-bottom-row *{display:inline-block;}
.yelp-bottom-row img{width:75px;}
.yelp-bottom-row img{width:75px;float:right;}
.yelp-wrapper:hover .yelp-info-wrapper .yelp-title{text-decoration:underline;}
.rating{margin:10px 0;}
.rating i{display:inline-block;width:0;height:1.5em;border-width:0 0.75em;border-style:solid;border-color:#eee;border-radius:.22em;color:white;background:#eee;font-style:normal;line-height:1.6em;text-indent:-0.5em;text-shadow:1px 0 1px #b3b3b3;}
[data-rating^='1'] .star-1{border-color:#cc8b1f;background:#cc8b1f;}
[data-rating^='1.5'] .star-2{border-left-color:#cc8b1f;}
[data-rating^='2'] .star-1{border-color:#dcb228;background:#dcb228;}
[data-rating^='2'] .star-2{border-color:#dcb228;background:#dcb228;}
[data-rating^='2.5'] .star-3{border-left-color:#dcb228;}
[data-rating^='3'] .star-1{border-color:#f0991e;background:#f0991e;}
[data-rating^='3'] .star-2{border-color:#f0991e;background:#f0991e;}
[data-rating^='3'] .star-3{border-color:#f0991e;background:#f0991e;}
[data-rating^='3.5'] .star-4{border-left-color:#f0991e;}
[data-rating^='4'] .star-1{border-color:#f26a2c;background:#f26a2c;}
[data-rating^='4'] .star-2{border-color:#f26a2c;background:#f26a2c;}
[data-rating^='4'] .star-3{border-color:#f26a2c;background:#f26a2c;}
[data-rating^='4'] .star-4{border-color:#f26a2c;background:#f26a2c;}
[data-rating^='4.5'] .star-5{border-left-color:#f26a2c;}
[data-rating="5"] i{background:#dd050b;border-color:#dd050b;}
@media print{.rating{-webkit-print-color-adjust:exact;}
.rating i{text-shadow:none;}
}
/* default color: #b31212 */
.bg-color,
section.bg-color,
section.call-to-action,
#mainmenu li li a:hover,
#mainmenu ul li:hover > a,
.price-row,
.blog-list .date,
.blog-read .date,
.slider-info .text1,
.btn-primary,
.bg-id-color,
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus,
.dropcap,
.fullwidthbanner-container a.btn,
.feature-box-big-icon i,
#testimonial-full,
.icon-deco i,
.blog-list .date-box .day,
.bloglist .date-box .day,
.feature-box-small-icon .border,
.small-border,
#jpreBar,
.date-post,
.team-list .small-border,
.de-team-list .small-border,
.btn-line:hover,a.btn-line:hover,
.btn-line.hover,a.btn-line.hover,
.owl-arrow span,
.de-progress .progress-bar,
#btn-close-x:hover,
.box-fx .info,
.de_testi blockquote:before,
.btn-more,
.widget .small-border,
.product img:hover,
#btn-search,
.de_tab.timeline li.active .dot,
.btn-id,
.small-border,
#back-to-top,
.owl-theme .owl-controls .owl-page.active span,
#subheader .small-border-deco span,
#services-list li a:hover,
.timeline .tl-block .tl-line,
.de_tab.tab_style_2 .de_nav li.active span,
.widget-post .post-date,
.owl-custom-nav .btn-next:before,
.owl-custom-nav .btn-prev:before,
.de_tab.tab_steps.style-2 .de_nav li.active span,
.feature-box-small-icon.style-2 .number.bg-color,
a.btn-solid,.btn-solid,
.tiny-border,
.post-menu-view .price
{
	background-color:#b31212;
}

.feature-box i,
#mainmenu li:hover > ul,
#mainmenu li > a:hover,
.date-box .day,
.slider_text h1,
.id-color,h1 span.id-color,
.pricing-box li h1,
.title span,
i.large:hover,
.feature-box-small-icon-2 i,
address span i,
.pricing-dark .pricing-box li.price-row,
.ratings i,
#mainmenu a:hover,
#mainmenu a.active,
header.smaller #mainmenu a.active,
.pricing-dark .pricing-box li.price-row,
.dark .feature-box-small-icon i,
a.btn-slider:after,
.feature-box-small-icon i,
.feature-box-small-icon .number,
.box-icon-simple i,
a.btn-line:after,
.team-list .social a,
.de_contact_info i,
.dark .btn-line:hover:after, .dark a.btn-line:hover:after, .dark a.btn-line.hover:after,
a.btn-text:after,
.separator span  i,
address span strong,
.de_tab.tab_steps .de_nav li span:hover,
.de_testi_by,
.pf_text,
.widget_tags li a,
.dark .btn-line:after, .dark  a.btn-line:after,
.crumb a,
.btn-right:after,
.btn-left:before,
#mainmenu li a:after,
header .info .social i:hover,
#back-to-top:hover:before,
#services-list li.active,
#services-list li.active a:after,
.de_light  .de_tab.tab_style_2 .de_nav li.active span,
.sub-item-service .c3,
.article-list .date-time span:before,
h2 .teaser,
#subheader h2 span,
.de_tab.tab_style_1 .de_nav li.active span
{
	color:#b31212;
}

.feature-box i,
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus
.feature-box-big-icon i:after,
.social-icons i,
.btn-line:hover,a.btn-line:hover,
.btn-line.hover,a.btn-line.hover,
.product img:hover,
#contact_form input[type=text]:focus,#contact_form textarea:focus, #search:focus,
#contact_form .de_light input[type=text]:focus, #contact_form .de_lighttextarea:focus, #contact_form .de_light #search:focus,
.form-transparent input[type=text]:focus, .form-transparent textarea:focus, .form-transparent input[type=email]:focus,
.de_light  .de_tab.tab_style_2 .de_nav li.active span,
.border-overlay,
.de_tab.tab_style_1 .de_nav li.active
{
	border-color:#b31212;
}

.box-fx .inner,
.dark .box-fx .inner,
.blog-list img,
.arrow-up,
.very-big-white,
a.btn-underline,.btn-underline,
.menu-item h3,
h1.big,
.widget
{
	border-bottom-color:#b31212;
}

.arrow-down{
	border-top-color:#b31212;
}

.callbacks_nav {
	background-color:#b31212;
}


.de_tab .de_nav li span {
border-top: 3px solid #b31212;
}

.feature-box-big-icon i:after {
border-color: #b31212 transparent; /*same colour as the lower of the bubble's gradient*/
}

.de_review li.active img{
	border:solid 4px #b31212;
}

.preloader1{
	border-top-color:#b31212;
}

blockquote{
border-left-color:#b31212;
}
@charset "UTF-8";.animated{-webkit-animation-duration:1s;animation-duration:1s;-webkit-animation-fill-mode:both;animation-fill-mode:both;}
@-webkit-keyframes fadeInLeft{0%{opacity:0;-webkit-transform:translateX(-48px);transform:translateX(-48px);}
100%{opacity:1;-webkit-transform:translateX(0);transform:translateX(0);}
}
@keyframes fadeInLeft{0%{opacity:0;-webkit-transform:translateX(-48px);-ms-transform:translateX(-48px);transform:translateX(-48px);}
100%{opacity:1;-webkit-transform:translateX(0);-ms-transform:translateX(0);transform:translateX(0);}
}
.fadeInLeft{-webkit-animation-name:fadeInLeft;animation-name:fadeInLeft;}
@-webkit-keyframes fadeInRight{0%{opacity:0;-webkit-transform:translateX(48px);transform:translateX(48px);}
100%{opacity:1;-webkit-transform:translateX(0);transform:translateX(0);}
}
@keyframes fadeInRight{0%{opacity:0;-webkit-transform:translateX(48px);-ms-transform:translateX(48px);transform:translateX(48px);}
100%{opacity:1;-webkit-transform:translateX(0);-ms-transform:translateX(0);transform:translateX(0);}
}
.fadeInRight{-webkit-animation-name:fadeInRight;animation-name:fadeInRight;}
@-webkit-keyframes fadeInUp{0%{opacity:0;-webkit-transform:translateY(48px);transform:translateY(48px);}
100%{opacity:1;-webkit-transform:translateY(0);transform:translateY(0);}
}
@keyframes fadeInUp{0%{opacity:0;-webkit-transform:translateY(48px);-ms-transform:translateY(48px);transform:translateY(48px);}
100%{opacity:1;-webkit-transform:translateY(0);-ms-transform:translateY(0);transform:translateY(0);}
}
.fadeInUp{-webkit-animation-name:fadeInUp;animation-name:fadeInUp;}
